{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "extends": ["airbnb"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "import/extensions": ["error", "never", { "ignorePackages": true }],
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx", ".tsx"] }],
    "react/require-default-props": [0]
  }
}
